# Про pandas, ключи и индексы
Задача - определить есть ли в наборе значений заданное

In [6]:
data_list = list(range(10000))

In [7]:
data_list[-5:]

[9995, 9996, 9997, 9998, 9999]

In [8]:
if 5e3 in data_list:
    print('Ура нашел!')

Ура нашел!

Время поиска зависит от того какой именно элемент вы ищете: первый, из середины или в конце

In [9]:
%%time

for _ in range(10**5):
    9000 in data_list

CPU times: total: 8.69 s
Wall time: 8.69 s

### Заменим список на множество

In [10]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [11]:
data_set = set(range(10000))

In [12]:
type(data_set)

set

In [14]:
%%time

for _ in range(10**5):
    50000 in data_set

CPU times: total: 0 ns
Wall time: 14 ms

### Усложним задачу - в таблице из пяти столбцов найти нужную строчку.

In [15]:
import pandas as pd

In [19]:
table = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\data.tsv', sep='\t')
table.head()

         date  category  campaign_id  slice  value
0  2020-11-21        59           26      3    688
1  2020-10-13        30           22      3    281
2  2020-07-24        80           24      9    266
3  2020-11-06        50           37      9     29
4  2020-02-21        70           50      7     25

In [20]:
table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

           date  category  campaign_id  slice  value
499  2020-12-06        70            3      3    666

In [21]:
%%time

for _ in range(10**4):
    table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

CPU times: total: 10.6 s
Wall time: 10.6 s

In [22]:
len(table)

1000

Аналогичный расчет для списков

In [26]:
with open(r'\\che-ds\CS_IgSor\GIT_syno\data\data.tsv', 'r') as f:
    next(f)
    # создаем список из файла
    table = [x.strip().split('\t') for x in f.readlines()]

In [27]:
table[:2]

[['2020-11-21', '59', '26', '3', '688'],
 ['2020-10-13', '30', '22', '3', '281']]

In [28]:
%%time
with open(r'\\che-ds\CS_IgSor\GIT_syno\data\data.tsv', 'r') as f:
    next(f)
    # создаем список из файла
    table = [x.strip().split('\t') for x in f.readlines()]

line_to_search = ['2020-12-06', '70', '3', '3']

for _ in range(10**4):
    [x for x in table if x[:4] == line_to_search]

CPU times: total: 1.42 s
Wall time: 1.42 s

Можно побыстрее? Преобразуем список в словарь.

In [32]:
tuple_to_search = ('2020-12-06', '70', '3', '3')

In [29]:
%%time
dict_ = {}

for line in table:
    key, value = tuple(line[:4]), line[4]
        
    dict_[key] = value

CPU times: total: 0 ns
Wall time: 1e+03 µs

In [30]:
dict_[('2020-12-06', '70', '3', '3')]

'666'

In [33]:
%%time

dict_ = {}

for line in table:
    key, value = tuple(line[:4]), line[4]
        
    dict_[key] = value

for _ in range(10**4):
    dict_[tuple_to_search]

CPU times: total: 15.6 ms
Wall time: 2 ms